

        <h1>Create Event</h1>
    {{#if error}}
        <p>{{error_message}}</p>
    {{/if}}
     <a href="/">Home Page</a>    
    <br/>
    <div>
        <form action="/event/createEvent" method="POST" id="createEvent-form">
                <label for="eventNameInput">Event Name:</label>
                <input type="text" name="eventNameInput" id="eventNameInput">
                <br>
                <label for="locationInput">Location:</label>
                <input type="text" name="locationInput" id="locationInput">
                <br>
                <label for="startTimeInput">Start Time:</label>
                <input type="datetime-local" name="startTimeInput" id="startTimeInput" min ={{minDateStartTimeString}}>
                <br>
                <label for="endTimeInput">End Time:</label>
                <input type="datetime-local" name="endTimeInput" id="endTimeInput" max ={{maxDateEndTimeString}}>
                <br>
                <label for="tagsInput">Comma Seperated Tags:</label>
                <input type="text" name="tagsInput" id="tagsInput">
                <br>
                <label for="descriptionInput">Description:</label>
                <input type="text" name="descriptionInput" id="descriptionInput">
                <br>
                <label for="capacityInput">Capacity:</label>
                <input type="number" name="capacityInput" id="capacityInput" min="1" step="1">
                <br>
                <br>

                <label for="image">Select an image to upload for the event:</label>
                <input type="file" id="image" name="image" accept="image/*"><br>

                <input type="submit" value="createEvent" id="createEvent">
        </form>
    </div>

<script src="/public/js/createEvent.js"></script>