body {
  font-family: sans-serif;
}

main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

p {
  margin: 10px 0;
}

article {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

form {
  margin: 20px 0;
  text-align: left;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  background-color: #0077ff;
  color: white;
  font-weight: bold;
}

button[type="submit"]:hover {
  cursor: pointer;
  background-color: #004cbf;
}

a {
  text-decoration: none;
  color: #006dea;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}


/* Set basic styles for the page */
body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  background-color: #f8f8f8;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
}

/* Style the welcome message */
p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Style the event title */
h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Style the comment form */
h5 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
}

