body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

article {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

article h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

article p {
  margin: 0;
  font-size: 14px;
}
